.content_post{style: "background-image: url(#{tweet.image});"}
  .more
    %span= image_tag 'arrow_top.png'
    %ul.more_list
      %li
        = link_to '詳細', tweet_path(tweet.id), method: :get, class: "infoList"
      - if user_signed_in? && current_user.id == tweet.user_id
        %li
          = link_to '編集', edit_tweet_path(tweet.id), method: :get, class: "infoList"
        %li
          = link_to '削除', tweet_path(tweet.id), method: :delete, class: "infoList"
  %p= tweet.text
  %span.name
    = link_to tweet.user.nickname, "/users/#{tweet.user.id}"
    - if user_signed_in?
      %span.like
        = link_to create_like_tweet_path(tweet) ,action: "#{create_like_tweet_path(tweet)}", id: "tweet#{tweet.id}", class: "likeBtn", method: :get  do
          = icon("fas", "heart", class: "likeBtn")
          = "#{tweet.likes.count}"
    - else
      %span.like
        = icon("fas", "heart", class: "likeBtn")
        %span.likeBtn= "#{tweet.likes.count}"