.contents.row
  .content_post{:style => "background-image: url(#{@tweet.image});"}
    - if user_signed_in? && current_user.id == @tweet.user_id
      .more
        %span= image_tag 'arrow_top.png'
        %ul.more_list
          %li
            = link_to '編集', edit_tweet_path(@tweet.id), method: :get, class: "infoList"
          %li
            = link_to '削除', tweet_path(@tweet.id), method: :delete, class: "infoList"
    %p= @tweet.text
    %span.name
      = link_to @tweet.user.nickname, "/users/#{@tweet.user.id}"
      - if user_signed_in?
        %span.like
          = button_to create_like_tweet_path(@tweet) ,action: "#{create_like_tweet_path(@tweet)}", id: "tweet#{@tweet.id}", class: "likeBtn", data: {tweet_id: @tweet.id}, remote: true, method: :post  do
            = icon("far", "heart", class: "likeIcon")
            %span{class: "tweet#{@tweet.id}"}
              = "#{@tweet.likes.count}"
      - else
        %span.like
          = icon("far", "heart")
          %span= "#{@tweet.likes.count}"
  .container
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}", class: "commentUser"
              ：
            = comment.text
    - if current_user
      = form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, rows: "2", class: "textbox"
        = form.submit "コメントする", class: "form__submit"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
