!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LMTD
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    %header.header
      .header__bar.row.rowHead
        %h1.grid-6
          = link_to "LMTD", "/"
        - if user_signed_in?
          .user_nav.grid-6
            %span.userTub
              = current_user.nickname
              %ul.user__info
                %li
                  = link_to "マイページ", "/users/#{current_user.id}", class: "infoList"
                  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "infoList"
            = link_to "投稿する", new_tweet_path, class: "post"
        - else
          .grid-6
            = link_to "ログイン", new_user_session_path, class: "post"
            = link_to "新規登録", new_user_registration_path, class: "post"
            = link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, method: :post, class: "post"
    = yield
    %footer
      %p
        LMTD
