!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LMTD
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header__bar.row
        %h1.grid-6
          = link_to "LMTD", "/"
        .user_nav.grid-6
          = link_to "投稿する", new_tweet_path, class: "postBtn"
    = yield
    %footer
      %p
        LMTD
